<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">
      <h1 style="text-align:center;">Instagram</h1>

      <h3>Recent Photos</h3>
      <%= render 'photos', photos: @instagram_photos %>

      <h3>Recent Likes</h3>
      <%= render 'photos', photos: @instagram_likes %>
    </div>
  </div>
</div>
