<div class="row">
  <%= render 'shared/menu' %>

  <div class="small-12 large-9 columns">
    <div class="radius panel">
      <h1 style="text-align:center;">Flickr</h1>

      <h3>Recent Photos</h3>
      <p style="text-align:center;">
        <% @feed.each do |photo| %>
          <% info  = flickr.photos.getInfo photo_id: photo.id, secret: photo.secret %>
          <% sizes = flickr.photos.getSizes photo_id: photo.id %>
          <%= link_to image_tag(sizes.find { |s| s.label == 'Small' }.source, border: 0, title: info.title), sizes.find { |s| s.label == 'Medium 640' }.source, rel: 'lightbox', title: "#{info.title}" %>
        <% end %>
      </p>

      <h6>
        <a href="http://www.flickr.com/photos/<%= FLICKR_USER_NAME %>" target="_blank"><%= YOUR_NAME %> @ Flickr</a>
      </h6>
    </div>
  </div>
</div>
